.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#kulutTaulu {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#kulutTaulu th, #kulutTaulu td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#kulutTaulu th {
  background-color: #f2f2f2;
}

#poista {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
}

#poista:hover {
  background-color: #d9534f;
}

#lisaaNappi {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px; /* Voit säätää väliä ylhäällä tarpeen mukaan */
}

#muokkaaNappi:hover {
  background-color: #4c54ae;
}
#muokkaaNappi {
  background-color: #5c62b8;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px; /* Voit säätää väliä ylhäällä tarpeen mukaan */
  margin-left: 20px;
}

#lisaaNappi:hover {
  background-color: #4cae4c;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
